body{
  background-color: #FFA4A4 ;
}

#header {
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.bi-star-fill {
  color: gold;
}

header {
  background-image: linear-gradient(to top,#FFA4A4 , #af6666 );
}


.bookItem {
  display: flex;
  border: 2px solid #c58f8f;
  align-items: center;
  padding: 5px ;
  width: 70%;
  max-width: 800px;
  border-radius: 2%;
}

.stars{
  margin: 10px;
}

.BookContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

#details  {
  flex: 1;
  text-align: center;
}

.bookItem h3 {
  margin-left: 10px;
}

.bookItem p {
  word-break: break-word;
}

li {
  list-style: none;
}

.bookItem img {
  width: 100px;
  height: 150px;
  margin-right: 15px;
}

#delete {
  padding: 6px 10px;
  margin-left: 40px;
}



@media (max-width: 700px) {
  .bookItem {
    flex-direction: column; 
    align-items: center;
    width: 90%; 
  }

  .bookItem img {
    margin: 0 0 15px 0; 
  }

  #details {
    text-align: center;
  }
}